@model IEnumerable<Institution.Models.Course>

@{
    ViewBag.Title = "Students List";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COURSE_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.COURSE_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NAME)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.COURSE_ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.COURSE_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.COURSE_ID })
    </td>
</tr>
}

</table>
